@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>

<head>
    <title>List</title>

    <meta charset="utf-8">

</head>
<body>
    <h1>Defaulr</h1>
</body>
</html> 
